h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.col{
    color: cornflowerblue;
}
.BC{
    color: goldenrod;
    
}
.TEXT OF BC{
    font-family: cursive;
}
.top-benar{
    display: flex;
    padding-left: 5%;
}
.adha{
    width: 50%;
}
.adha img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 183, 255),rgb(9, 255, 0));
    padding: 10px;50px;
    color:white;
    font-weight: 800;
    border-radius:5px;
    
    
}
.top-benar{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
body{
    margin: 0%;
}
.secend-2{
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
    background-image: url(images/111.png);
    background-repeat:no-repeat ;
    background-position: right;
}
.d img{
    width: 80%
}
.font2{
    width: 100%
}
.flaxi{display: flex;
    padding-bottom: 5%;
    background-image: url(images/222.png);
    background-repeat: no-repeat;
    background position: left;
    text align: justify;
}
.fifty{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    box-shadow:10px 10px 30px gray; 
    border-radius: 5%;
    

}
#bord{
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(0, 255, 42));
    border-image-slice:1 ;
}
#bord2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(0, 255, 42));
    border-image-slice:1 ; 
}
footer p {
    text-align: center;
}